{
    "swagger": "2.0",
    "info": {
        "version": "V1",
        "title": "INSIGHTUS SITEVIEW API V1",
        "contact": {
            "name": "Insightus",
            "url": "https://siteview.plus",
            "email": "support@insightus.com.au"
        }
    },
    "host": "siteview.plus",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/v1/account/login": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "login by mobile only",
                "operationId": "AccountV1_Login",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TokenResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission"
                    },
                    "404": {
                        "description": "Page not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/refresh": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "login by mobile only",
                "operationId": "AccountV1_Login",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RefreshTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TokenResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission"
                    },
                    "404": {
                        "description": "Page not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/register": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "register operator owner",
                "operationId": "AccountV1_Register",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegistrationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RegistrationResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/account/forgotpassword": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Forgot Password",
                "operationId": "AccountV1_ForgotPassword",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ForgotPasswordModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the result of forgot password"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/resetpassword/{hash}": {
            "get": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Reset Password",
                "operationId": "AccountV1_ResetPassword",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "hash",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the result of reset password"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/resetpassword": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Reset Password",
                "operationId": "AccountV1_ResetPassword",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResetPasswordModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the result of reset password"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/getuserinfo": {
            "get": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "get user info",
                "operationId": "AccountV1_GetUserInfo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserInfoRes"
                        }
                    },
                    "401": {
                        "description": "You don't have permission"
                    },
                    "404": {
                        "description": "Page not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/linkedin/obtainaccesstoken": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Obtain access token by LinkedIn",
                "operationId": "AccountV1_ObtainAccessToken",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestAccessToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the local access token"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/{operatorId}/checkemail": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "check email is available for add",
                "operationId": "AccountV1_CheckEmailIsAvailableForAdd",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "operatorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CheckEmailForAddRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/account/{operatorId}/checkemail/upload": {
            "post": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "upload excel file for list of email for validate",
                "operationId": "AccountV1_UploadFileForValidatingEmail",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "operatorId",
                        "in": "path",
                        "description": "operatorId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ValidateWhenUploadUserForInviteResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/account/changepassword": {
            "put": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Change Password",
                "operationId": "AccountV1_ChangePassword",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangePasswordModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the result of reset password"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/updateinfo": {
            "put": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Update Info",
                "operationId": "AccountV1_UpdateInfo",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateInfoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the result of reset password"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/updateavatar": {
            "put": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "Update Info",
                "operationId": "AccountV1_UpdateAvatar",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateAvatarRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the result of reset password"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Don't have permission"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/account/{operatorId}/ban": {
            "put": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "ban user",
                "operationId": "AccountV1_BanUser",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "operatorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BanUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/account/{operatorId}/unban": {
            "put": {
                "tags": [
                    "AccountV1"
                ],
                "summary": "unban user",
                "operationId": "AccountV1_UnbanUser",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "operatorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BanUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cad/versions/{siteId}/{libraryId}": {
            "post": {
                "tags": [
                    "CadV1"
                ],
                "summary": "get all versions for 3d models of site , AUTH",
                "operationId": "CadV1_GetVersionsOfSite",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchVersionClutterRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CadVersionResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cad/search/{versionId}/{libraryId}": {
            "post": {
                "tags": [
                    "CadV1"
                ],
                "summary": "Search cad",
                "operationId": "CadV1_SearchCad",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchClutterPhotoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CadResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cad/upload/begin": {
            "get": {
                "tags": [
                    "CadV1"
                ],
                "summary": "begin upload cad, generating a url for client uploading, AUTH",
                "operationId": "CadV1_BeginUpload",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RequestUploadClutterResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cad/upload/finish/{libraryId}/{siteId}": {
            "post": {
                "tags": [
                    "CadV1"
                ],
                "summary": "finsh upload cad  AUTH",
                "operationId": "CadV1_FinishUpload",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FinishUploadCadRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cad/purchase/{siteId}/{libraryId}": {
            "post": {
                "tags": [
                    "CadV1"
                ],
                "summary": "purchase a versions for cad of site , AUTH",
                "operationId": "CadV1_PurchaseVersionsOfSite",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PurchaseClutterVersionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cctv/{siteId}/{libraryId}": {
            "get": {
                "tags": [
                    "CctvV1"
                ],
                "summary": "get all cctv for enterprise site , AUTH",
                "operationId": "CctvV1_GetAllCctvOfEnterpriseSite",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CctvResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            },
            "post": {
                "tags": [
                    "CctvV1"
                ],
                "summary": "create cctv for enterprise site , AUTH",
                "operationId": "CctvV1_CreateCctv",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCctvRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CctvResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/cctv/{siteId}/{libraryId}/{cctvId}": {
            "put": {
                "tags": [
                    "CctvV1"
                ],
                "summary": "update cctv for enterprise site , AUTH",
                "operationId": "CctvV1_UpdateCctv",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cctvId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCctvRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CctvResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "CctvV1"
                ],
                "summary": "delete cctv for enterprise site , AUTH",
                "operationId": "CctvV1_DeleteCctv",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cctvId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/clutter/search/{version}/{libraryId}": {
            "post": {
                "tags": [
                    "ClutterV1"
                ],
                "summary": "Search clutter photo",
                "operationId": "ClutterV1_SearchClutterPhoto",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchClutterPhotoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/GroupClutterPhotoResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/clutter/versions/{siteId}/{libraryId}": {
            "post": {
                "tags": [
                    "ClutterV1"
                ],
                "summary": "get all versions for clutter of site , AUTH",
                "operationId": "ClutterV1_GetVersionsOfSite",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchVersionClutterRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ClutterVersionResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/clutter/purchase/{siteId}/{libraryId}": {
            "post": {
                "tags": [
                    "ClutterV1"
                ],
                "summary": "purchase a versions for 3d models of site , AUTH",
                "operationId": "ClutterV1_PurchaseVersionsOfSite",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PurchaseClutterVersionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/clutter/upload/begin": {
            "get": {
                "tags": [
                    "ClutterV1"
                ],
                "summary": "begin upload photo, generating a url for client uploading, AUTH",
                "operationId": "ClutterV1_BeginUpload",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RequestUploadClutterResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/clutter/upload/finish/{libraryId}/{siteId}": {
            "post": {
                "tags": [
                    "ClutterV1"
                ],
                "operationId": "ClutterV1_FinishUpload",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FinishUploadClutterRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/dataevent": {
            "post": {
                "tags": [
                    "DataEventV1"
                ],
                "summary": "test",
                "operationId": "DataEventV1_CreateDataEvent",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DataEventOverviewResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/dataevent/{siteId}/{libraryId}": {
            "get": {
                "tags": [
                    "DataEventV1"
                ],
                "summary": "get all cctv for enterprise site , AUTH",
                "operationId": "DataEventV1_GetDataEventOfSite",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DataEventOverviewResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/dataevent/{libraryId}": {
            "post": {
                "tags": [
                    "DataEventV1"
                ],
                "summary": "search events of legend library , AUTH",
                "operationId": "DataEventV1_GetDataEventOfLibrary",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "libraryId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchEventRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DataEventOverviewResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/dataevent/{siteId}/{libraryId}/detail/{eventId}": {
            "get": {
                "tags": [
                    "DataEventV1"
                ],
                "summary": "get all cctv for enterprise site , AUTH",
                "operationId": "DataEventV1_GetDetailOfEvent",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DataEventDetailResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/record": {
            "post": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_VideoRecord",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewKurentoVideoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/recent/{libraryId}": {
            "get": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_VideoTopRecent",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/KurentoVideoRecentResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/video/search/{libraryId}": {
            "post": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_VideoSearchLocation",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchVideoByLocation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/KurentoVideoRecentResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/video/{id}/screenshot": {
            "post": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_VideoScreenshotCreate",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewScreenshotRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/video/{id}": {
            "get": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_VideoDetail",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/create": {
            "post": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_EagleCreate",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewEaleCaptureRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/search": {
            "post": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_EagleSearch",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchEagleCaptureRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/eaglecapture/assign": {
            "put": {
                "tags": [
                    "EagleCaptureV1"
                ],
                "operationId": "EagleCaptureV1_EagleAssign",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AssignEaleCaptureRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/events/{libraryId}": {
            "post": {
                "tags": [
                    "EventV1"
                ],
                "summary": "search events for enterprise site , AUTH",
                "operationId": "EventV1_GetEventOfLibraryId",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "libraryId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SearchGlobalEventRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SearchGlobalEventResponse"
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{libraryId}/{siteId}": {
            "post": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "new interior , AUTH",
                "operationId": "InteriorV1_NewInterior",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewInteriorRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{libraryId}/{siteId}/{interiorId}": {
            "post": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "new box for interior , AUTH",
                "operationId": "InteriorV1_NewBoxForInterior",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interiorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewBoxForInteriorRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "delete interior , AUTH",
                "operationId": "InteriorV1_DeleteInterior",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interiorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{libraryId}/{siteId}/{interiorId}/{boxId}": {
            "delete": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "delete box of for interior , AUTH",
                "operationId": "InteriorV1_DeleteBox",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interiorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "boxId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{libraryId}/{siteId}/{interiorId}/box/{boxId}": {
            "put": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "update box of for interior , AUTH",
                "operationId": "InteriorV1_UpdateBox",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "boxId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateBoxRequest"
                        }
                    },
                    {
                        "name": "interiorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{libraryId}/{siteId}/{interiorId}/hotspot/{hotspotId}": {
            "delete": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "delete hotspot for interior , AUTH",
                "operationId": "InteriorV1_DeleteHotspot",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interiorId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "hotspotId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{libraryId}/{siteId}/{boxId}/hotspots": {
            "post": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "new box for interior , AUTH",
                "operationId": "InteriorV1_NewHotspotForInterior",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "libraryId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "boxId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HotspotOfInteriorRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/interior/{siteId}": {
            "get": {
                "tags": [
                    "InteriorV1"
                ],
                "summary": "get all interiors of site",
                "operationId": "InteriorV1_GetAllInterior",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "siteId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/InteriorResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have permission for access this API"
                    },
                    "404": {
                        "description": "API is not found"
                    },
                    "500": {
                        "description": "There is error for your request"
                    }
                }
            }
        },
        "/api/v1/library/all": {
            "get": {
                "tags": [
                    "LibraryV1"
                ],
                "summary": "Get all operator",
                "operationId": "LibraryV1_GetAllLibraries",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/GetAllOperatorsResult"
                        }
                    },
                    "401": {
                        "description": "You don't have permission"
                    },
                    "404": {
                        "description": "Page not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/library/create": {
            "post": {
                "tags": [
                    "LibraryV1"
                ],
                "summary": "create new library",
                "operationId": "LibraryV1_CreateLibrary",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateOperatorModelNew"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "You don't have permission"
                    },
                    "404": {
                        "description": "Page not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/library/new": {
            "post": {
                "tags": [
                    "LibraryV1"
                ],
                "summary": "create new library",
                "operationId": "LibraryV1_CreateLibraryFromShop",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewLibraryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "You don't have permission"
                    },
                    "404": {
                        "description": "Page not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v1/library/test": {
            "post": {
                "tags": [
                    "LibraryV1"
                ],
                "summary": "create new library",
                "operationId": "LibraryV1_CreateLibraryEnterprise",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
[...]
